<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_DIR" value="../../logs"/>

    <springProfile name="local">
        <springProperty scope="context" name="LOG_DIR" source="dragons.log.dir" defaultValue="../../logs"/>
        <springProperty scope="context" name="LOG_LEVEL" source="dragons.log.level" defaultValue="INFO"/>
        <springProperty scope="context" name="USE_FILE" source="dragons.log.use-file" defaultValue="Y"/>
        <springProperty scope="context" name="USE_CONSOLE" source="dragons.log.use-console" defaultValue="Y"/>
        <springProperty scope="context" name="EXPIRE_DAY" source="dragons.log.expire-day" defaultValue="2"/>
    </springProfile>

    <springProfile name="dev">
        <springProperty scope="context" name="LOG_DIR" source="log.dir" defaultValue="/opt/logs"/>
        <springProperty scope="context" name="LOG_LEVEL" source="log.level" defaultValue="INFO"/>
        <springProperty scope="context" name="USE_CONSOLE" source="log.use-console" defaultValue="N"/>
        <springProperty scope="context" name="USE_FILE" source="log.use-file" defaultValue="Y"/>
    </springProfile>


    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOG_DIR}/dragons.${HOSTNAME}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/dragons.%d.${HOSTNAME}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dragons" level="${LOG_LEVEL}" />
    <!--    <logger name="com.iam.mapper" level="ERROR" />-->
    <logger name="org.springframework" level="ERROR" />
    <!--    <logger name="org.mybatis" level="ERROR" />-->
    <!-- RequestMapping URL 확인용 : 최초 로드 시, 로그 작성 -->
    <logger name="org.springframework.web" level="INFO" />

    <root level="${LOG_LEVEL}">
        <appender-ref ref="console" />
        <appender-ref ref="INFO_LOG" />
    </root>


</configuration>
